# required packages for backstroke
matplotlib>=3
numpy<2.3  # up to date as of 1/2025. v2.3 requires py >3.10. seems OK otherwise
pandas<3  # last changed 4/2026. v3 requires py >3.10 but seems OK otherwise
requests>=2.32.2
python-dotenv
